# Ignora file di configurazione sensibili
.env
*.env
config.json
secrets.json
*.pem
*.key
*.crt
*.p12

# Ignora dipendenze di Node.js
node_modules/
npm-debug.log
yarn.lock
package-lock.json


# Ignora file di build o temporanei
dist/
build/
cache/
*.log
*.tmp
*.bak
logs/
*.log
*.tmp

# Ignora file del sistema operativo
.DS_Store
Thumbs.db
.AppleDouble
.LSOverride

# Ignora IDE e editor files
.vscode/
.idea/
*.swp
*.swo
*.sublime-workspace
*.sublime-project

*.sqlite3
*.db
.cache/


