/* .main-images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.main-images img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.main-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3%;
  color: white;
  padding: 20px;
  background-color: #987654;
} */

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.gallery-item {
  width: 100%;
  max-width: 350px; /* larghezza massima su schermi grandi */
  aspect-ratio: 3/2; /* mantiene proporzioni */
  overflow: hidden;
  border-radius: 10px;
  background: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 10px;
}

#g-ita {
  font-style: italic;
  font-weight: bold;
  color: #987654;
}

/* schermi piccoli: contenitori occupano tutta la larghezza */
@media (max-width: 600px) {
  .gallery-container {
    gap: 12px;
  }
  .gallery-item {
    max-width: 100%;
    aspect-ratio: unset; /* opzionale: lascia altezza auto */
    height: auto;
  }
  .gallery-item img {
    height: auto;
    object-fit: cover;
  }

  button {
    /* display: flex; */
    background-color: #987654;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
  }

  #p-g-1 {
    text-align: center;
    font-style: italic;
    font-weight: bold;
  }

  #p-g-2 {
    text-align: center;
    font-style: italic;
    font-weight: bold;
  }
}
