/* HEADER */
.gallery-header {
  margin-top: 5%;
}

.placeholder {
  visibility: hidden;
}

/* CONTENITORE GENERALE */
.gallery-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-top: 20px;
}

/* BOTTONI */
.gallery-btn {
  background-color: #987654;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

/* GRID IMMAGINI – MOBILE */
.gallery-grid {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  max-width: 360px; /* 🔒 BLOCCO */
  max-height: 200px;
}

/* CONTENITORE IMMAGINE */
.gallery-item {
  width: 100%;
  aspect-ratio: 4 / 3; /* BLOCCO DEFINITIVO */
  overflow: hidden;
}

/* IMMAGINE */
.gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* CHIAVE */
  display: block;
}

/* TESTI */
#g-ita {
  font-style: italic;
  font-weight: bold;
  color: #987654;
}

#p-g-1,
#p-g-2 {
  text-align: center;
  font-style: italic;
  font-weight: bold;
  margin: 10px 5%;
}

@media (max-width: 600px) {
  #p-g-1,
  #p-g-2 {
    font-size: 18px;
  }
}

/* DESKTOP */
@media (min-width: 600px) {
  .gallery-container {
    flex-direction: row;
    justify-content: center;
  }

  .gallery-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1200px;
    padding: 0;
    margin-bottom: 10%;
    margin-top: 3%;
  }

  @media (min-width: 600px) {
    .gallery-item {
      aspect-ratio: 3 / 2;
    }
  }

  #p-g-1 {
    margin-bottom: 3%;
  }

  #p-g-1,
  #p-g-2 {
    font-size: 25px;
  }
}
