/* HEADER setting for SMALL SCREENS */
/* HEADER impostazioni per schermi piccoli */

#menu-2 a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-style: italic;
}

@media (max-width: 768px) {
  .header-nav-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 100%;
    margin-bottom: 0%;
    background-color: rgb(116, 91, 62);
  }

  .header-nav-1 img {
    height: auto;
    width: 150px;
  }

  .hidden {
    display: none;
  }

  .header-nav-2-list {
    background-color: rgb(116, 91, 62);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 0%;
  }

  .header-nav-2-list img {
    height: auto;
    width: 25px;
    border-left: 0;
    padding: 10px 10px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .header-nav-2 ul {
    padding-left: 0;
  }

  .menu {
    margin-top: 0;
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu img {
    height: auto;
    width: 27px;
    padding-left: 2%;
  }

  /* .header-nav-2 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
  } */

  #menu-2 {
    display: none;
  }
}

/* HEADER setting for LARGE SCREENS */
/* HEADER impostazioni per schermi grandi */

@media (min-width: 769px) {
  .header {
    border: none;
  }

  .header-nav-1 {
    width: 100%;
    background-color: rgb(116, 91, 62);
  }

  .header-nav-1 ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-nav-1 img {
    height: auto;
    width: 20%;
    padding: 2%;
  }

  #menu-2 {
    display: flex;
    top: 10px;
    right: 10px;
    margin-right: 2%;
    padding: 2%;
    align-items: center;
  }

  #menu-2 img {
    width: 50px;
  }

  .menu {
    display: none;
  }

  .header-nav-2 {
    margin-top: 1%;
  }

  .header-nav-2-list {
    background-color: rgb(116, 91, 62);
    margin-top: 2;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 1%;
    padding-right: 3%;
  }

  .header-nav-2-list img {
    height: auto;
    width: 30px;
    border-left: 1px solid white;
    padding: 15px 15px;
  }
}
