.edu-nsw-act-cursive font > {
  font-family: "Edu NSW ACT Cursive", cursive;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.main {
  background-image: url("/assets/SFONDO-MENU.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: white;
}

.main-cover-sfondo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.sfondo-main {
  color: white;
  position: absolute;
  top: 20%;
  text-align: center;
}

.main-button {
  background-color: #987654;
  color: white;
  border: none;
  margin-top: 20%;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
}

/* #sottolineatura {
  text-decoration: underline;
  font-style: italic;
} */

.main-1 {
  color: white;
}
