body {
  background-color: #e4d9d9;
  font-family: noto-sans, sans-serif;
}

.header {
  background-color: #e4d9d9;
  border: 5px solid rgb(116, 91, 62);
  border-radius: 2%;
}

header ul li {
  list-style-type: none;
}

.map-container {
  display: none;
}

h3 {
  color: white;
}

.menu a {
  text-decoration: none;
  color: black;
}

img:not(.no-responsive) {
  max-width: 100%;
  height: auto;
  display: block;
}

#g-ita {
  color: #987654;
  font-weight: bold;
}
