.main {
  background-image: url("/assets/sfondo-menu.JPG");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  margin-top: 10px;
}
